{% extends "base.html" %}

{% block body_attribs %} ng-app="myApp"{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="{{ url_for('static', filename='lib/angular-csv-import/dist/angular-csv-import.js')}}"></script>
<script>
var data = [];
angular.module('myApp',['ngCsvImport'])
    .controller('CSVController', ['$scope', '$parse', function ($scope, $parse) {
        $scope.csv = {
            content: null,
            header: false,
            seperator: ',',
            result: null
        };

        var _lastGoodResult = '';
        $scope.toPrettyJSON = function (objStr, tabWidth) {
            var obj = null;
            try {
                obj = $parse(objStr)({});
            } catch(e) {
                // eat $parse error
                return _lastGoodResult;
            }

            var result = JSON.stringify(obj, null, Number(tabWidth));
            _lastGoodResult = result;

            return result
        }
        $scope.reJSON = function (objStr) {
            return JSON.parse(objStr);
        }
    }]);
</script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Make a Map</h1>
        </div>
    </div>

    <div class="container" ng-controller="CSVController">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <h2>Step 1: Name and information</h2>
                    First lets upload a file:
                    <ng-csv-import
		              class="import"
		              content="csv.content"
		              header="csv.header"
		              separator="csv.separator"
		              result="csv.result"></ng-csv-import>
                <div ng-if="csv.content">
                    <h2>CSV</h2>
                    {% raw %}
                    <div><pre>{{ csv.content }}</pre></div>
                    {% endraw %}
                </div>
                <div ng-if="csv.result">
                    <h2>JSON</h2>
                    <ul>
                        {% raw %}
                        <li ng-repeat="row in reJSON(csv.result) track by $index">
                            {{ row }}
                        </li>
                        {% endraw %}
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    {% raw %}
                    <li ng-repeat="row in data">
                        A row
                    </li>
                    {% endraw %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
